html, body {
  height: 100%!important;
}

button, input {
  border-radius: 0!important;
}

input {
  background-color: hsl(0deg 0% 91%)!important;
}

button#submitBtn {
  color: #53595e;
  border: 1px solid #ced4da;
}

#emailInput, #passwordInput, #passwordConfirmInput {
  width: 50vw;
}

small#registerText:hover {
  cursor: pointer;
  color: #147edd!important;
}

button#submitBtn:active, button#submitBtn:hover {
  color: #fff!important;
}

button#submitBtn:focus {
  box-shadow: none!important;
}

#login-container {
  justify-content: center;
  align-items: center;
}

#welcome-hdr {
  line-height: 26px;
}

#home-container {
  background-color: hsl(0deg 0% 89%);
  overflow: auto;
}

#control-body {
  background-color: white;
}

#balance {
   background-color: hsl(0deg 0% 29%);
   color: white;
}

.x-active {
  border-bottom: 2px solid hsl(0deg 0% 64%);
  background-color: hsl(0deg 0% 89%);
}

.x-inactive {
  border-bottom: 2px solid hsl(0deg 0% 64%);
}

#course-select-container p, #course-view-container p {
  cursor: pointer;
}

#course-select {
  max-height: 83vh;
  overflow-y: auto;
}

@media only screen and (max-width: 655px) {
  #control-bar {
    display: none;
    text-align: center;
    width: 100%!important;
    font-size: 4vmin;
  }
  #control-bar div {
    padding-bottom: 3em;
    padding-top: 3em;
    border: 1px solid #c3c3c3;
    margin-bottom: 5vh;
    background-color: hsl(0deg 0% 92%);
  }
  #control-container {
    align-items: center;
    border-top: 1px solid #b1adad;
    background-color: hsl(0deg 0% 94%);
  }
  #bottom-bar {
    border-top: 1px solid #b1adad;
  }
  #nav-bar {
    display: initial;
  }
  #course-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 656px) {
  #control-bar {
    display: flex;
    padding: 0!important;
  }
  #nav-bar {
    display: none;
  }
  #control-body {
    border: 1px solid #747475!important;
  }
  div#control-bar div {
    border-bottom: 1px solid #747475!important;
    padding: .5em 1em .3em 1em;
    transition: background-color 0.5s ease;
  }
  div#control-bar div:hover {
    background-color: hsl(240deg 1% 80%);
  }
  #course-container {
    flex-direction: row;
  }
  #course-view, #course-select, #section-view {
    margin-left: .5em!important;
  }
}
